#container {
    text-align: center;
    width: 600px;
    height: 600px;
    margin: 10px auto;
}


.btn {
    text-align: center;
}

.col {
    background-color: white;
    float: left;
    border: black 1px solid;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.row {
    display: block;
    float:left;
    width: 30px;
    height: 30px;
}


