#container {
    border: 10px solid black;
    border-radius: 2%;
    width: 600px;
    height: 600px;
    margin: 10px auto;
}

/*
#container {
    position: absolute;
    z-index: 15;
    top: 30%;
    left: 42.5%;
    margin: -100px 0 0 -150px;

}
*/

.btn {
    text-align: center;
}

.col {
    background-color: white;
    float: left;
    border: black 1px solid;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.row {
    display: block;
    float:left;
    width: 100%;
}


